<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Battify.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Battify.My.MySettings>
            <setting name="mute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="color" serializeAs="String">
                <value>white</value>
            </setting>
            <setting name="zoomfactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="snd" serializeAs="String">
                <value>01</value>
            </setting>
            <setting name="alimlist" serializeAs="String">
                <value>[nobat][plugged][unplug][using][5left][5charge][15left][15charge][20left][20charge][30left][30charge][50left][50charge][100charge]</value>
            </setting>
        </Battify.My.MySettings>
    </userSettings>
</configuration>